*body{
    padding: 0;
    margin: 0;

}
.flex-container{
    display: flex;
    width: 800px;
    margin: 0 auto;
    flex-wrap: wrap;
}
.box-item{
    height: 150px;
    width: 200px;
    margin: 20px;
    background-color: rgb(129, 3, 26);
    border: 5px solid rgb(242, 242, 103);
}